body {
    font:16px Kanit;
    color:#999999
}

h1, h2, h3, h4, h5, h6 {
    color:#e8e8e8;
    line-height: 1.2em;
}

h1 {
    font-size:3em;
    margin:0;
}
h2 {
    font-size:2.5em;
    margin:0;
}

h3 {
    font-size:1.5em;
    margin:0 0 .5em;
}
h4 {
    margin:.5em 0;
}