:root {
    --color_panel:#282727;
    --color_panel_active:#343434;
    --color_panel_group:#1f1f1f;
    --color_completed:#171717;
    --color__completed-text:#414141;
    --border-radius:10px;
    --color_progress:#26c281;
}